@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,700&display=swap');

.accordion {
    display: flex;
    flex-direction: column;
    width: 70vw;
    float: right;
    align-items: center;
    margin-top: 3vh;
}

@media screen and (max-width: 420px) {
    .accordion {
        width: 100vw;
    }
}