@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,700&display=swap');

.accordion {
    position: fixed;
    padding-top: 3vh;
    left: 31.5vw;
}

.footer {
    font-family: 'Ubuntu', sans-serif;
    color: #232428;
    font-style: italic;
    position: absolute;
    bottom: 55vh;
}

.footer h2 {
    position: absolute;
    left: 60vw;
}

.button {
    display: grid;
    grid-template-columns: 59.7vw 5vw 5vw 5vw;
    grid-template-areas: ". githubButton linkedinButton emailButton";
}

.button img {
    width: 30%;
    position: relative;
    top: 7vh;
}

.githubButton {
    grid-area: githubButton;
}

.linkedinButton {
    grid-area: linkedinButton;
}

.emailButton {
    grid-area: emailButton;
}

.credit a {
    position: relative;
    left: 55vw;
    bottom: -8vh;
    color: #232428;
    text-decoration: none;
    font-size: 14px;
    padding-bottom: 3vh;
}

@media screen and (min-width: 1980px) {
    .footer h2 {
        top: 0;
        left: 61vw;
    }

    .button {
        display: grid;
        grid-template-columns: 59.3vw 5vw 5vw 5vw;
        grid-template-areas: ". githubButton linkedinButton emailButton";
        padding-bottom: 1vh;
    }

    .credit a {
        left: 57.5vw;
    }
}

@media screen and (max-width: 820px) {
    .footer {
        inline-size: 100vw;
    }

    .footer h2 {
        left: 55vw;
        inline-size: auto;
    }

    .button {
        display: grid;
        grid-template-columns: 57.5vw 5vw 5vw 5vw;
        grid-template-areas: ". githubButton linkedinButton emailButton";
        padding-bottom: 1vh;
    }

    .button img {
        width: 50%;
    }
    .credit a {
        left: 46vw;
    }

}