@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,700&display=swap');

.newGrid {
    display: flex;
    width: 70vw;
    float: right;
}

.leftColumn {
    display: flex;
    width: 35vw;
    flex-direction: column;
    margin: 5vh 0 0 3vw;
    row-gap: 5vh;
}

.rightColumn {
    display: flex;
    width: 35vw;
    flex-direction: column;
    margin-top: 5vh;
    row-gap: 5vh;
}

/* relative for child elements and absolute for parent elements */

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    text-align: center;
    font-size: 30px;
    margin: 0 0 1vh 0; 
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    text-align: center;
}

.purpleSquare {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 435px;
    height: 435px;
    background-color: #847E89;
    overflow: hidden;
}

.blueSquare {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 435px;
    height: 435px;
    background-color: #BDD4E7;
    overflow: hidden;
}

.greenSquare {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 435px;
    height: 435px;
    background-color: #567673;
    overflow: hidden;
}

.pinkSquare {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 435px;
    height: 435px;
    background-color: #DDC8C4;
    overflow: hidden;
}

.photoSquare {
    overflow: hidden;
    max-height: 435px;
    max-width: 435px;
}

.photoSquareTransform {
    transition: all 1s ease;
}

.photoSquareTransform:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.closeButton {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 1vw 0 auto;
    cursor: pointer;
}

.closeButton:hover {
    transition: all 1s ease;
    transform: scale(1.1);
}

.closeImage {
    width: 15px;
    height: 15px;
}

.links {
    display: flex;
    justify-content: center;
    margin-bottom: 1vh;
}

.linkImage {
    transition: all 1s ease;
    transform:scale(0.8);
    width: 40px;
    height: 40px;
    margin-right: 2vw;
}

.githubImage {
    transition: all 1s ease;
    width: 40px;
    height: 40px;
}

.githubImage:hover {
    transform:scale(1.2);
}

.linkImage:hover {
    transform:scale(1);
}

.infoText {
    width: 70vw;
    float: right;
    text-align: center;
}

@media screen and (max-width: 420px) {
    h3 {
        font-size: 20px;
        margin: 0 0 1vh 0; 
    }
    
    p {
        font-size: 16px;
    }

    .newGrid {
        width: 100vw;
        flex-direction: column;
    }

    .leftColumn {
        width: 100vw;
        margin: 2vh 0 0 0;
        row-gap: 2vh;
        align-items: center;
    }

    .rightColumn {
        width: 100vw;
        row-gap: 2vh;
        margin: 2vh 0 0 0;
        align-items: center;
    }

    .purpleSquare {
        width: 350px;
        height: 350px;
    }

    .greenSquare {
        width: 350px;
        height: 350px;
    }

    .blueSquare {
        width: 350px;
        height: 350px;
    }

    .pinkSquare {
        width: 350px;
        height: 350px;
    }

    .photoSquare {
        max-height: 350px;
        max-width: 350px;
    }

    .photoSquareTransform {
        max-height: 350px;
        max-width: 350px;
    }

    .closeButton {
        margin-right: 2vw;
    }
    
    .infoText {
        width: 100vw;
    }
}